.swiper-container {
    width: 100%;
    height: auto;
    box-shadow: $box-shadow;
    border-radius: 10px;
    border: 1px solid white;
    background-color: white;
    .swiper-buttons {
        $font-size: 16px;
        .swiper-button-next {
            top: 30px;
            right: 20px;
            font-size: $font-size;
        }
        .swiper-button-prev {
            top: 30px;
            right: 70px !important;
            left: auto;
        }
        .swiper-btn {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: $light;
            &:after {
                font-size: $font-size;
                color: $black;
            }
        }
    }
    .swiper-title {
        padding: 20px 20px;
        font-weight: bold;
    }

    .swiper-wrapper {
        .swiper-slide {
            padding: 20px;
            padding-bottom: 10px;
            padding-top: 0px;
            .s-body {
                .s-image {
                    img {
                        width: 100%;
                        border-radius: 50%;
                    }
                }
                .s-info {
                    .s-name {
                        margin-bottom: 0px;
                        font-size: 14px;
                        span {
                            padding-right: 5px;
                            font-weight: bold;
                        }
                        i {
                            font-size: 3px;
                            color: $p-color;
                            padding-right: 5px;
                        }
                        label {
                            color: $light-grey;
                        }
                    }
                }
            }
        }
    }
}
